$main-color: pink;

// body {
//   background: url("../assets/images/charles-538048-unsplash.jpg");
// }

.title {
  color: $main-color;
}

.title {
  &_title {
    @media (max-width: 500px) {
      color: blue;
    }
  }
}
